:root {
    --primary: crimson;
    --dark: #1f2937;
    --darker: #111827;
    --light: #f3f4f6;
}


* {
    box-sizing: border-box;
    margin: 0;
    font-family: monospace;
}

body {
    background: var(--dark);
    color: var(--light);
}


.watch {
    text-align: center;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(180,213,178,1) 28%, rgba(180,211,215,1) 56%, rgba(148,187,233,1) 100%);
    width: 100%;
    max-width: 360px;
    margin: 4rem auto;
    border-radius: 1rem;
    padding: 1rem 2rem;
}


.time {
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;

    color: var(--light);
    background-color: rgb(241, 166, 25);
    margin: 0 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;

    transition: 0.4s;
}

.controls button:hover{
    opacity: 0.4;
}

button:active {
    background-color: rgba(120, 60, 11, 0.945);
}
